test
**/.DS_Store
/src/vim/vim/bundle/**
src/config/gh/hosts.yml
src/config/configstore/**
src/config/iterm2/**
src/config/karabiner/**
src/config/yarn/**/*
src/config/op/**/*
src/config/raycast/**/*
src/config/hugocli/**/*
src/config/lazygit/**/*
